/* en :root variables globales en todo el html */
:root{    
    --naranja: #FF9600;
    --negro: #000000;
    --gris: #333333;
    --blanco: #FFFFFF;
    --grisClaro: #666666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gris);
    background-image: url(images/pattern.jpg);
    font-family: Arial, sans-serif;
}


.cabecera, .contenedor{
    max-width: 1000px;
    margin: 0 auto;
    
}

/**
    -----------------------------------------------------------------
    SECCION CABECERA
    -----------------------------------------------------------------
*/

.cabecera{
    color: var(--naranja);
    display: flex;
    justify-content: space-between; /* alinea los dos al costado */
    align-items: center; /* Centramos en vertical los 2 elementos */
    padding: 15px 0;
    font-size: 16px;
}

.contenedor{    
    /* Aplico la variable como color de fondo usando var() */
    background-color: var(--blanco);
}

.nav{
    background-color:  purple;
    /* Separo usando el nav así me llevo
    el margen a todas las páginas */
    margin-bottom: 30px;
   
   
}

.nav-lista{
    /* Eliminamos los puntitos de la lista */
    list-style: none;
    text-align: center;
    background-color: var(--naranja);
    display: flex;
    padding: 10px 0;
    padding-left: 40px;    
}



.nav a{
    background-color: green;
    display: block;

    border-right: 2px solid var(--blanco);
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;

    padding-left: 8px;
    padding-right: 8px;

}

.nav a:hover{
    text-decoration: underline;
    background-color: brown;
}




/**
    -----------------------------------------------------------------
    SLIDER
    -----------------------------------------------------------------
*/

.slider{
    /* Para centrar imagenes aplico
    text-align center al elemento padre */
    text-align: center;
    margin-bottom: 48px;
}

.principal{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 35px;
}

.cat{
    background-color: violet;
}

.cat-title{
    margin-bottom: 10px;
    margin-left: 25px;
}

.cat-list{
    list-style: none;
    padding-left: 35px;
}

.cat-list a{
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed var(--grisClaro);
    color: var(--negro);    
}

.cat-list a:hover{
    text-decoration: none;

}

.productos{
    background-color: skyblue;
}